$color-primary:#DD2C00 !default;
$color-secondary:#3F51B5 !default;
$color-text:#424242 !default;
$color-light:#FFFBF1 !default;

$font-family-title:"Holtwood One SC";
$font-family-subtitle:"Alegreya";