.mainContainer {
    max-width: 110rem;
    margin: 0 auto;
    font-size: 1.4rem;
    position:relative;
    min-height:100vh;
}

.mainContent{
    margin:4rem 0 11rem;
    width:100%;
    display:inline-block;
}
